{{#stories}}
<div class="media attribution">

  <a class="img">
      <img src="{{image}}" alt="me" />
  </a>
  <div class="bd">
      <h3>{{title}}</h3>
      <p>{{summary}}</p>
  </div>

</div>
{{/stories}}
