<div class="header-container">
    <header class="wrapper clearfix">
        {{#title}}
            {{> title }}
        {{/title}}
        {{#subtitle}}
            {{> subtitle }}
        {{/subtitle}}
    </header>
</div>
